aiohttp==3.5.4
async-timeout==3.0.1
atomicwrites==1.2.1
attrs==18.2.0
chardet==3.0.4
colorama==0.4.1
Django==2.1.5
Faker==0.9.1
httprequests==0.3
hypothesis==3.88.3
idna==2.8
lxml==4.3.0
mixer==6.1.3
more-itertools==5.0.0
multidict==4.5.2
pluggy==0.8.1
py==1.7.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pytest==4.1.1
pytest-django==3.4.5
python-dateutil==2.7.5
pytz==2018.9
six==1.12.0
text-unidecode==1.2
yarl==1.3.0
